@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.homePage {
  display: grid;

  .hero {
    @include flexbox();
    height: 100svh;
    width: 100%;
    position: relative;
    isolation: isolate;

    video {
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      pointer-events: none;
    }

    .backdrop {
      position: absolute;
      z-index: 1;
      background: transparent;
      height: 100%;
      width: 100%;
      backdrop-filter: brightness(0.5) blur(1px);
    }

    .content {
      display: grid;
      gap: 30px;
      position: relative;
      z-index: 1;
      background: #fff;
      padding: 30px;
      overflow: hidden;

      h1 {
        font-family: var(--helvetica);
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: center;
        transform: translateX(-100%);
        opacity: 0;
        animation: slide-in 1s ease-in-out forwards 0.5s;
      }

      .divider {
        height: 1px;
        width: 100%;
        background: #ccc;
      }

      h2 {
        font-family: var(--helvetica);
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
        max-width: 600px;
        transform: translateX(100%);
        opacity: 0;
        animation: slide-in 1s ease-in-out forwards 1s;
      }
    }
  }
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
