@mixin flexbox($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.carousel {
  display: grid;
  gap: 30px;

  .header {
    @include flexbox(row, center, space-between);

    p {
      font-family: var(--helvetica);
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0.04em;
      text-align: center;
    }

    .controls {
      @include flexbox();
      gap: 30px;

      > svg {
        cursor: pointer;
      }

      .disabled path {
        fill: #878787;
      }

      .rightIcon {
        transform: rotate(180deg);
      }
    }
  }

  .slidesContainer {
    overflow: hidden;

    .slides {
      @include flexbox(row, center, flex-start);
      list-style: none;
      gap: 30px;
      transition: all 0.4s ease-in-out;
    }
  }
}
